@charset "UTF-8";
/*Em html é id= em Css é #
Em html é class = em Css é .
*/

body{
    background-color: rgb(205,255,203);
     font-family: Arial, , Helvetica, sans-serif;
}
    h1#Principal{
        text-align: center;
        background-color: green;
        color: white;
        }
h1{
    color: rgb(4,109,0);
}
h2{
    color: rgb(73,109,71);
}
 .basico{
    color:rgb(64, 119, 62);
    font-weight: bold;
}
.intermediario{
    color:rgb(129, 122, 44);
}
.avancado{
    color:rgb(110, 47, 47);
}
.destaque{
    background-color:rgba(214, 214, 101, 0.815)
}
